n8n-workflows/teacher-agent-workflow.json
 {
  "name": "Teacher Agent - Question Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teacher-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json.body.topic }}",
              "type": "string"
            },
            {
              "id": "difficulty",
              "name": "difficulty",
              "value": "={{ $json.body.difficulty }}",
              "type": "string"
            },
            {
              "id": "mode",
              "name": "mode",
              "value": "={{ $json.body.mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "assessment"
            }
          ]
        }
      },
      "id": "if-mode-check",
      "name": "Check Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "systemPrompt",
              "value": "You are an expert exam creator. Generate 5 unique multiple-choice questions on the topic provided.\nTarget Audience: {{ $json.difficulty }} level.\n\nReturn STRICT JSON only in this format:\n{\n  \"questions\": [\n    {\n      \"id\": 1,\n      \"q\": \"Question Text\",\n      \"options\": [\"Option A\", \"Option B\", \"Option C\", \"Option D\"],\n      \"ans\": \"Correct Option Text (Must match exactly one option)\"\n    }\n  ]\n}\nEnsure options are distinct and plausible.",
              "type": "string"
            },
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "Topic: {{ $json.topic }}\nDifficulty: {{ $json.difficulty }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "assessment-prompt",
      "name": "Assessment Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "systemPrompt",
              "value": "You are a patient AI teacher. Explain the topic clearly with examples and provide practice questions.\n\nReturn JSON format:\n{\n  \"explanation\": \"Clear explanation of the topic\",\n  \"example\": \"A practical example\",\n  \"question\": \"A practice question to test understanding\"\n}",
              "type": "string"
            },
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "Topic: {{ $json.topic }}\nDifficulty: {{ $json.difficulty }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "teach-prompt",
      "name": "Teach Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "message": "={{ $json.userMessage }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-node",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the OpenAI response\nconst response = items[0].json.choices[0].message.content;\n\ntry {\n  const parsed = JSON.parse(response);\n  return [{ json: parsed }];\n} catch (error) {\n  // Fallback if JSON parsing fails\n  return [{ \n    json: { \n      error: 'Failed to parse response',\n      rawResponse: response \n    } \n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Assessment Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Teach Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teach Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
